
<div class="create-pool-page">

    <!-- starts top navigation bar -->
    <div id="main-top-navbar" attr-user="<%= username %>"></div>

    <!-- header -->
    <div class="row add-margin-bottom add-margin-top">
        <div class="col-md-8">
            <h6 class="frm-bold-text">
                <%= title %>
            </h6>
        </div>
        <div class="col-md-4">
            <div id="active-tenants">
            </div>
        </div>
    </div>
    <!-- ends header -->

    <hr />


    <!-- instances on this host -->
    <a name="create-pool"></a>
    <div class="create-pool">
        <div id="create-ip-pool" ></div>
    </div>
    <!-- end instances on this host -->


</div>
