<div class="tenant-page">
    <!-- starts top navigation bar -->
    <div id="main-top-navbar" attr-user="<%= username %>"></div>
    <!-- header -->
    <div class="row add-margin-bottom add-margin-top">
        <div class="col-md-8">
            <h6 class="frm-bold-text">
                <%= section %>
            </h6>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <!-- ends header -->


    <!-- overview -->
    <div class="overview">
        <div id="overview" ></div>
    </div>
    <!-- end overview on this host -->


<!-- Usage summary -->
  <!-- <div class="usage-summary"> -->
  <!--   <div class="container"> -->
  <!--       <h2 class="frm-bold-text add-margin-bottom"> -->
  <!--         Usage Summary -->
  <!--       </h2> -->

  <!--       <div class="row"> -->
  <!--         <div class="col-md-3"> -->
  <!--           <\!-- Insert summary elements dynamically -\-> -->
  <!--           <div id="instances-counter" > -->
  <!--           </div> -->
  <!--         </div> -->
  <!--         <div class="col-md-9"> -->
  <!--           <\!-- Insert summary elements dynamically -\-> -->
  <!--           <div id="usage-summary" > -->
  <!--           </div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- ends Usage summary -->

    <!-- instances on this host -->
    <div class="instances">
        <div class="row">
            <div class="col-md-12">
                <h2 class="frm-bold-text add-margin-bottom">
                    Instances
                </h2>
            </div>
        </div>
        <div id="instances-host" ></div>

    </div>
    <!-- end instances on this host -->
</div>
