<div class="row">
    <!-- starts top navigation bar -->

    <div id="main-top-navbar" attr-user="<%= username %>"></div>
    <!-- header -->
    <div class="row">
      <div class="col-md-8">
        <h6 class="frm-bold-text">
          <%= section %>
        </h6>
      </div>
    </div>
    <!-- ends header -->

    <!-- Usage summary -->
    <div class="usage-summary">
        <h2 class="frm-bold-text add-margin-bottom">
            Usage Summary
        </h2>
        <!-- Insert summary elements dynamically -->
        <div id="usage-summary" >
        </div>
    </div>
    <!-- ends Usage summary -->

    <!-- Linechart - Memory Usage sample -->
    <div id="usage-details"></div>

</div>
