<div class="tenant-page">
    <!-- starts top navigation bar -->
    <div id="main-top-navbar" attr-user="<%= username %>"></div>
    <!-- header -->
    <div class="row add-margin-bottom add-margin-top">
        <div class="col-md-8">
            <h6 class="frm-bold-text">
                <%= section %>
            </h6>
        </div>
        <div class="col-md-4">
            <div id="active-tenants">
            </div>
        </div>
    </div>
    <!-- ends header -->

    <!-- instances on this tenant -->
    <div class="instances">
        <div id="construction-notice" ></div>
    </div>
    <!-- end instances on this tenant -->
</div>
