/* lineChart component */
.line {
    fill: none;
    stroke: #00aeef;
    stroke-width: 1.5px;
}

.line-chart-time-control {
    text-align: center;
    padding-top: 5px;
    padding-left:25px;
}

.arc text {
    text-anchor: middle;
}
.arc path {
    stroke: #fff;
}

.domain {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

/* Bootstrap's grid system adds padding when using columns, use this class
   to override if necessary
*/
.no-padding {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

/* Filling area on line chart */
.area {
    fill: #00aeef;
    opacity: 0.15;
    stroke-width: 0;
}
